<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>Edulerns | Education HTML Template</title>
<!-- Stylesheets -->
<link href="{% get_static_prefix %}Temp_1/css/bootstrap.min.css" rel="stylesheet">

<link href="{% get_static_prefix %}Temp_1/css/style.css" rel="stylesheet">
<link href="{% get_static_prefix %}Temp_1/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="{% get_static_prefix %}Temp_1/images/favicon.png" type="image/x-icon">
<link rel="icon" href="{% get_static_prefix %}Temp_1/images/favicon.png" type="image/x-icon">
<link href="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<link href="{% get_static_prefix %}Temp_2/public/css/style.css" rel="stylesheet" type="text/css">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>
	{% include 'Extra\header_3.html' %}

	<!-- Main Header-->
	
	<!--End Main Header -->

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url({% get_static_prefix %}Temp_1/images/background/page-title.jpg);">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">Course Details</h1>
				
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!--Start courses Details-->
	<section class="course-details">
		<div class="container">
			<div class="row flex-xl-row-reverse">
				<!--Start courses Details Content-->
				<div class="col-xl-8 col-lg-8">
					<div class="courses-details__content">
						<img src="{% get_media_prefix %}Courses/{{Selected.id}}.jpg" style="border-radius: 10px;" alt="">
						<h2 class="mt-4">course Overview</h2>
						<p>{{Selected.Description}}</p>
						
						<div class="content mt-40">
							<div class="text">
								<h3>Extra Info About This Course</h3>
								<p>This course will run on the structure bellow and will not deviate from the pre set partten is was built on.</p>
							</div>
							<div class="row mt-30">
								<!-- Category Block Two -->
								<div class="category-block-current-two col-lg-4 col-md-6 col-sm-6">
									<div class="inner-box">
										<div class="icon-box">
											<i class="icon flaticon-elearning"></i>
										</div>
										<h4 class="title">Online degree programs</h4>
										<span class="sub-title">26 Courses</span>
									</div>
								</div>

								<!-- Category Block Two -->
								<div class="category-block-current-two col-lg-4 col-md-6 col-sm-6">
									<div class="inner-box">
										<div class="icon-box">
											<i class="icon flaticon-study-1"></i>
										</div>
										<h4 class="title">Non-degree programs</h4>
										<span class="sub-title">38 Courses</span>
									</div>
								</div>

								<!-- Category Block Two -->
								<div class="category-block-current-two col-lg-4 col-md-6 col-sm-6">
									<div class="inner-box">
										<div class="icon-box">
											<i class="icon flaticon-study"></i>
										</div>
										<h4 class="title">Off campus programs</h4>
										<span class="sub-title">13 Courses</span>
									</div>
								</div>
							</div>
						</div>
						<div class="card-header d-block">
							<h4 class="card-title">Introduction Fotage</h4>
							<p class="m-0 subtitle">This outlines what you will be <code>learning</code> in this course.</p>
						</div>
						<video src="{% get_media_prefix %}Intros/{{Selected.id}}.mp4" style="width:100%" alt="" controls ></video>

						
							<div class="card" style="padding-top: 40px;">
								<div class="card-header d-block">
									<h4 class="card-title">Topics and Descriptions</h4>
									<p class="m-0 subtitle">This outlines what you will be <code>learning</code> in this course.</p>
								</div>
								<div class="card-body">
									<!-- Default accordion -->
									<div id="accordion-one" class="accordion accordion-primary">
										
										{% for i in Module %}
										<div class="accordion__item">
											<div class="accordion__header rounded-lg collapsed" data-toggle="collapse" data-target="#default_collapseOne{{i.id}}" aria-expanded="false">
												<span class="accordion__header--text">Module {{i.Number}}</span>
												<span class="accordion__header--indicator"></span>
											</div>
											<div id="default_collapseOne{{i.id}}" class="accordion__body collapse" data-parent="#accordion-one" >
												<div class="accordion__body--text">
													{% for j in Topic %}
													{% if i.id == j.Module %}
													<button type="button" style="width: 100%;text-align: left;" class="btn btn-outline-light"><i  style="font-size: 25px;padding-right: 20px;" class="fa fa-file"></i>{{j.Name}}</button>
													<div style="padding-top: 10px;"></div>
													{% endif %}
													{% endfor %}
												</div>
											</div>
										</div>
	
                                       {% endfor %}
									</div>
								</div>
							</div>

						</div>
					
				</div>
				<!--End courses Details Content-->

				<!--Start courses Details Sidebar-->
				<div class="col-xl-4 col-lg-4">
					<div class="course-sidebar">
						<ul class="course-details-info">
							
							<li class="course-details-info-link">
								<span class="course-details-info-icon"><i class="far fa-folder-open"></i></span>
								Lectures: <span>1</span>
							</li>
							<li class="course-details-info-link">
								<span class="course-details-info-icon"><i class="far fa-user-circle"></i></span>
								Students: <span>Max 50</span>
							</li>
							<li class="course-details-info-link">
								<span class="course-details-info-icon"><i class="far fa-flag"></i></span>
								Skill Level: <span>{{Selected.Level}}</span>
							</li>
							<li class="course-details-info-link">
								<span class="course-details-info-icon"><i class="far fa-bell"></i></span>
								Language: <span>English</span>
							</li>
						</ul>

						<div class="course-details-price">
							<p class="course-details-price-text">Course price</p>
							<p class="course-details-price-amount">${{Selected.Amount}}</p>
							<form action="{% url 'buy' %}" method="post">
								{% csrf_token %}
								<input name="id" type="hidden" value="{{Selected.id}}">
							<button  type="submit" class="theme-btn btn-style-two course-details-price-btn">Buy This Course</button>
						   </form>
						</div>

						<div class="latest-course mb-30">
							<h4 class="latest-course-title mb-30">New Courses</h4>
							{% for i in Courses %}
							<div class="latest-course-item">
								<div class="latest-course-img">
									<img src="{% get_media_prefix %}Courses/{{i.id}}.jpg" style="border-radius: 5px;" alt="">
								</div>
								<div class="latest-course-content">
									<a class="latest-course-author" href="#">Skill Level <span>{{i.Level}}</span></a>
									<h5><a href="page-course-details.html">{{i.Name}}</a></h5>
									<div class="latest-course-stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>{{i.Rate}}</span>
									</div>
									<form action="{% url 'courses_content' %}" method="post">
										{% csrf_token %}
										<input type="hidden" value="{{i.id}}" name="id">
									<div  style="text-align: center;padding-bottom: 20px;padding-top: 20px;">
									<button type="submit" class="theme-btn btn-style-one shop-now"><span class="btn-title"><i class="fa fa-eye" style="padding-right: 6px;"></i>View</span></button>
									 </div>
									</form> 
								</div>
							</div>
							{% endfor %}
							
						</div>

					</div>
				</div>
				<!--End courses Details Sidebar-->
			</div>
		</div>
	</section>
	<!--End courses Details-->

	<!-- Main Footer -->
	<footer class="main-footer">
		<div class="bg-image zoom-two" style="background-image: url({% get_static_prefix %}Temp_1/images/background/4.jpg)"></div>

		<!--Widgets Section-->
		<div class="widgets-section">
			<div class="auto-container">
				<div class="row">
					<!--Footer Column-->
					<div class="footer-column col-xl-3 col-lg-12 col-md-6 col-sm-12">
						<div class="footer-widget about-widget">
							<div class="logo"><a href="index.html"><img src="{% get_static_prefix %}Temp_1/images/logo-2.png" alt=""></a></div>
							<div class="text">Get 26,000+ best online courses from us</div>
							<ul class="social-icon-two">
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-xl-2 col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget">
							<h4 class="widget-title">Explore</h4>
							<ul class="user-links">
								<li><a href="#">Gallery</a></li>
								<li><a href="#">News & Articles</a></li>
								<li><a href="#">FAQ's</a></li>
								<li><a href="#">Sign In/Registration</a></li>
								<li><a href="#">Coming Soon</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-xl-2 col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget">
							<h4 class="widget-title">Links</h4>
							<ul class="user-links">
								<li><a href="#">About</a></li>
								<li><a href="#">Courses</a></li>
								<li><a href="#">Instructor</a></li>
								<li><a href="#">Events</a></li>
								<li><a href="#">Instructor Profile</a></li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-xl-5 col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget contact-widget">
							<h4 class="widget-title">Contact</h4>
							<div class="widget-content">
								<ul class="contact-info">
									<li><i class="fa fa-phone-square"></i> <a href="tel:+926668880000">+92 (0088) 6823</a></li>
									<li><i class="fa fa-envelope"></i> <a href="mailto:needhelp@potisen.com">needhelp@company.com</a></li>
									<li><i class="fa fa-map-marker-alt"></i> 80 Broklyn Golden Street. New York. USA</li>
								</ul>
								<div class="subscribe-form">

									<form method="post" action="#">
										<div class="form-group">
											<input type="email" name="email" class="email" value="" placeholder="Email Address" required="">
											<button type="button" class="theme-btn btn-style-one"><i class="fa fa-long-arrow-alt-right"></i></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Footer Bottom-->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="inner-container">
					<div class="copyright-text">&copy; Copyright 2022 by  <a href="index.html">Company.com</a></div>
				</div>
			</div>
		</div>
	</footer>
	<!--End Main Footer -->

</div><!-- End Page Wrapper -->


<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="{% get_static_prefix %}Temp_1/js/jquery.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/popper.min.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/bootstrap.min.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/jquery.fancybox.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/jquery-ui.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/wow.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/appear.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/select2.min.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/swiper.min.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/owl.js"></script>
<script src="{% get_static_prefix %}Temp_1/js/script.js"></script>
</body>
</html>

<script src="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="{% get_static_prefix %}Temp_2/public/js/deznav-init.js" type="text/javascript"></script>
<script src="{% get_static_prefix %}Temp_2/public/js/custom.min.js" type="text/javascript"></script>
<script src="{% get_static_prefix %}Temp_2/public/vendor/global/global.min.js" type="text/javascript"></script>

