<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="yHA5u8WtpQpSiX7tNQAHKD98wQ0u3WkBqzm0FUnX">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Some description for the page">
    <title>Owlio | Dashboard</title>
    <meta property="og:title" content="Owlio - School Admission Admin Laravel Dashboard">
    <meta property="og:description" content="Owlio | Dashboard">
    <meta property="og:image" content="https://owlio.dexignzone.com/laravel/social-image.png">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% get_static_prefix %}Temp_2/public/images/favicon.png">


         
                    <link href="{% get_static_prefix %}Temp_2/public/vendor/chartist/css/chartist.min.css" rel="stylesheet" type="text/css">
                    <link href="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
              

    
     
                    <link href="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
                    <link href="{% get_static_prefix %}Temp_2/public/css/style.css" rel="stylesheet" type="text/css">
              
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">


		{% include 'Extra\header_2.html' %}
        <!--**********************************
            Nav header start
        ***********************************-->
      
        <!--**********************************
            Sidebar end
        ***********************************-->        <!--**********************************
            Sidebar end
        ***********************************-->

		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            	<div class="container-fluid">
		<div class="form-head d-flex flex-wrap mb-sm-4 mb-3 align-items-center">
			<div class="mr-auto  d-lg-block mb-3">
				
			</div>
			
			
			<!-- Add Order -->
			<div class="modal fade" id="addOrderModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add Project</h5>
							<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label class="text-black font-w500">Project Name</label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<label class="text-black font-w500">Dadeline</label>
									<input type="date" class="form-control">
								</div>
								<div class="form-group">
									<label class="text-black font-w500">Client Name</label>
									<input type="text" class="form-control">
								</div>
								<div class="form-group">
									<button type="button" class="btn btn-primary">SAVE</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		
		<div class="row">
			
				
			
			
			<div class="col-xl-12">
				
				<div class="card">
					<div class="card-header border-0 pb-2 d-flex flex-wrap">
						<div class="mb-3">
							<h4 class="fs-24 font-w700 mb-2">Topics Overview</h4>
							<p class="fs-14 mb-0">The progress of your topics with students reaction to them.</p>
						</div>
						
					</div>
				
					<p style="text-align: center;padding-bottom: 10px;">Select a cover photo for your topic!</p>
					<div style="text-align: center;" id="fat" class="result">
						<img style="border-radius: 30px;width:300px;height:300px ;" src="{% get_media_prefix %}Topics/{{Topic}}.jpg">
					  
					  </div>
					  <style>
						.upload-btn-wrapper {
						position: relative;
						overflow: hidden;
						display: inline-block;
						cursor: pointer;
						}	  
						.upload-btn-wrapper input[type=file] {
						font-size: 100px;
						position: absolute;
						left: 0;
						top: 0;
						cursor: pointer;
						width: 50%;
						opacity: 0;
						}
						</style>
					  
					  <div style="text-align: center;" class="box">
						<div style="padding-top: 20px;"></div>
						<div class="upload-btn-wrapper">
					  <button  class="btn btn-light btn-block">Select an Image</button>
					  <form method="post" action="{% url 'topic_config' %}" enctype="multipart/form-data">
						{% csrf_token %}   
						<input name="Topic" type="hidden" value="{{Topic}}" />
					  <input  class="mdc-text-field__input"  id="file-input" style="width: 100%;" type="file" name="New_Img" required="" accept="image/*" />
					  </div>
					  <div style="text-align: center;" >
						<div style="padding-top: 20px;"></div>
						<h4>Select a video for this topic</h4>
						<div class="custom-file" style="width: 80%;text-align: center;">
							<input type="file" class="custom-file-input" accept="video/*" name="video">
							<label class="custom-file-label">Choose video file</label>
							
						</div>
						<br>
						<div style="padding-top: 20px;padding-bottom: 20px;">
						<button  type="submit" class="btn btn-rounded btn-info"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
						</span>Update Topic</button>
					    </div>
				     	</div>
					</form>

                       <div class="row">
						    <div class="col-xl-6 col-lg-6" style="padding-top: 40px;">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Create questions</h4>
								</div>
								<div class="card-body">
									<div class="basic-form">
										<form>
											<div class="form-group">
												<textarea class="form-control" rows="4" required id="question" placeholder="What is your test question?" style="height: 100px;"></textarea>
											</div>
										</form>
									</div>
								
								<div class="row" style="padding-top: 5px;">
                                    <h1 style="padding-right: 6px;">A</h1><input type="text" id="A" required style="width: 80%;" class="form-control input-rounded" placeholder="Possible answer A">
                                </div>
								<div class="row" style="padding-top: 5px;">
                                    <h1 style="padding-right: 6px;">B</h1><input type="text" id="B" required style="width: 80%;" class="form-control input-rounded" placeholder="Possible answer B">
                                </div>
								<div class="row" style="padding-top: 5px;">
                                    <h1 style="padding-right: 6px;">C</h1><input type="text" id="C" required style="width: 80%;" class="form-control input-rounded" placeholder="Possible answer C">
                                </div>
								<div class="row" style="padding-top: 5px;">
                                    <h1 style="padding-right: 6px;">D</h1><input type="text" id="D" required style="width: 80%;" class="form-control input-rounded" placeholder="Possible answer D">
                                </div>
								<p class="fs-14 mb-0" style="padding-top: 14px;">What is the correct answer for this question?</p>
									<div class="form-group mb-0" style="padding-top: 10px;padding-bottom: 10px;">
										<label class="radio-inline mr-3"><input type="radio" required  onclick="selected('A')" name="optradio"> Option A</label>
										<label class="radio-inline mr-3"><input type="radio" required  onclick="selected('B')" name="optradio"> Option B</label>
										<label class="radio-inline mr-3"><input type="radio" required  onclick="selected('C')" name="optradio"> Option C</label>
										<label class="radio-inline mr-3"><input type="radio" required  onclick="selected('D')"  name="optradio"> Option D</label>
										<input value="" type="hidden" id="answer">

									</div>
									<button type="button" onclick="Add_Question()" class="btn btn-rounded btn-info"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
									</span>Add Test</button>
								
							</div>
							</div>
							</div>

							<div class="col-xl-6 col-lg-6" style="padding-top: 40px;">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Add External Links</h4>
									</div>
									<div class="card-body">
										    <div style="padding-bottom: 15px;">
											<input type="text" class="form-control" id="named" placeholder="External link title">
										    </div>
										<div class="input-group mb-3  input-rounded">
											<div class="input-group-prepend">
												<span class="input-group-text">https://example.com</span>
											</div>
											<input type="text" id="linked" class="form-control">
										</div>
										
										<div class="basic-form">
											<form>
												<div class="form-group">
													<textarea class="form-control" id="explain" rows="4" required id="comment" placeholder="Give a description to your students." style="height: 100px;"></textarea>
												</div>
											</form>
										</div>
									
									
									
										<button onclick="Add_Link()" type="button" class="btn btn-rounded btn-info"><span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
										</span>Add Link</button>
									
								</div>
								</div>



								
							</div>


						
					</div> 
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Test questions</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-responsive-md">
									<thead>
										<tr>
																						
											<th><strong >question?</strong></th>
											
											<th><strong>Delete</strong></th>
										</tr>
									</thead>
									<tbody id="qs">

                                       {% for i in Questions %}
										<tr id="{{i.id}}Question">
													
											<td style="text-align: left;">{{i.Question}}</td>
											
											<td >
												<a onclick="Delete('{{i.id}}','Question')" class="btn btn-danger shadow btn-xs sharp"><i style="color: aliceblue;" class="fa fa-trash"></i></a>
										</td>
										</tr>
										{% endfor %}



									</tbody>
								</table>
							</div>
						</div>
					</div>
					</div>

					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Test Links</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-responsive-md">
									<thead>
										<tr>
																	
											<th><strong >Title</strong></th>
											<th><strong >Link</strong></th>
											
											<th><strong>Delete</strong></th>
										</tr>
									</thead>
									<tbody id="p2">

                                      {% for i in Links %}
										<tr id="{{i.id}}Link">
													
											<td style="text-align: left;">{{i.Name}}</td>
											<td style="text-align: left;">{{i.Link}}</td>

											
											<td >
												<a onclick="Delete('{{i.id}}','Link')" class="btn btn-danger shadow btn-xs sharp"><i style="color: aliceblue;" class="fa fa-trash"></i></a>
										</td>
										</tr>
                                      {% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
				
				</div>
				
				
		</div>
	</div>
        </div>
		


		<script src="{% get_static_prefix %}Temp_2/public/vendor/global/global.min.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
						<script src="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/vendor/peity/jquery.peity.min.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/vendor/apexchart/apexchart.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/js/dashboard/dashboard-1.js" type="text/javascript"></script>
						<script src="{% get_static_prefix %}Temp_2/public/js/custom.min.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/js/deznav-init.js" type="text/javascript"></script>
		<script src="{% get_static_prefix %}Temp_2/public/js/dashboard/food.js" type="text/javascript"></script>
            
       
</body>
</html>


<script>
							
	// vars
	let result = document.getElementById("fat"),

	upload = document.getElementById("file-input"),
	
	cropper = '';
	
	// on change show image with crop options
	upload.addEventListener('change', (e) => {
	  if (e.target.files.length) {
		
		const reader = new FileReader();
		reader.onload = (e)=> {
		  if(e.target.result){
		  console.log(e);
			
			let img = document.createElement('img');
			img.id = 'image';
			img.src = e.target.result;
			img.style = "border-radius: 30px;width:300px;height:300px"
			
			
			//result2 = document.getElementById("fat2"),
	        result1 = document.getElementById("fat"),
			result1.innerHTML = '';

		//	result2.innerHTML = '';
			//let img2 = document.createElement('img');
			//img2.id = 'image';
			//img2.src = e.target.result;
			//img2.style = "border-radius: 30px;width:200px;height:200px"
		  
			result1.appendChild(img);

			//result2.appendChild(img2);

			// show save btn and options
			//save.classList.remove('hide');
			//options.classList.remove('hide');
			// init cropper
			//cropper = new Cropper(img);
		  }
		};
		reader.readAsDataURL(e.target.files[0]);
	  }
	});
	</script>


<script>
    function selected(value){
		document.getElementById("answer").value=value
	}

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    console.log(csrftoken)

  function Add_Question(){
  
	var question = document.getElementById("question")
	var A = document.getElementById("A")
	var B = document.getElementById("B")
	var C = document.getElementById("C")
	var D = document.getElementById("D")
	var answer = document.getElementById("answer")
  if (question.value === ""){
	alert("Add a question")
  }else if (A.value === ""){
	alert("Add option A")
  }else if (B.value === ""){
	alert("Add option B")
  }else if (C.value === ""){
	alert("Add option C")
  }else if (D.value === ""){
	alert("Add option D")
  }else if (answer.value === ""){
	alert("Select an answer")
  }else{
  data = JSON.stringify({
    Topic : '{{Topic}}',
	Question: question.value,
	A_answer: A.value,
	B_answer: B.value,
	C_answer: C.value,
	D_answer: D.value,
	Answer: answer.value,
   })
    fetch("{% url 'add_question'%}", {
    method: 'POST',
    body: data,
    headers: { 'X-CSRFToken': csrftoken,'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json',
        },
   })
  .then(response => response.json())
  .then(data => {
    console.log(data);
	if (data.Status === "added"){
        var Tr1 = document.createElement("tr")
		var inv = 'Question'
		Tr1.id =data.id+'Question'
		Tr1.innerHTML = '<td id="'+data.id+'Question" style="text-align: left;">'+question.value+'</td><td ><a onclick="Delete('+data.id+','+"'"+inv+"'"+')" class="btn btn-danger shadow btn-xs sharp"><i style="color: aliceblue;" class="fa fa-trash"></i></a></td>'
	    document.getElementById("qs").append(Tr1)
		question.value=""
		A.value=""
		B.value=""
		C.value=""
		D.value=""
		answer.value=""
		alert("Test Added!")
	}

       
   });}}


   function Add_Link(){
  
  var name = document.getElementById("named")
  var link = document.getElementById("linked")
  var description = document.getElementById("explain")
if (name.value === ""){
  alert("Add a title for the link")
}else if (link.value === ""){
  alert("Add a link")
}else if (description.value === ""){
  alert("Add a description")
}else{
data = JSON.stringify({
  Topic : '{{Topic}}',
  Name: name.value,
  Link: link.value,
  Description: description.value,
 })
  fetch("{% url 'add_link' %}", {
  method: 'POST',
  body: data,
  headers: { 'X-CSRFToken': csrftoken,'Accept': 'application/json, text/plain, */*',
	  'Content-Type': 'application/json',
	  },
 })
.then(response => response.json())
.then(data => {
  console.log(data);
  if (data.Status === "added"){
	  var Tr1 = document.createElement("tr")
	  Tr1.id =data.id+'Link'
	  inv= "Link"
	  Tr1.innerHTML = '<tdstyle="text-align: left;">'+name.value+'</td><td style="text-align: left;">'+link.value+'</td><td ><a onclick="Delete('+data.id+','+"'"+inv+"'"+')" class="btn btn-danger shadow btn-xs sharp"><i style="color: aliceblue;" class="fa fa-trash"></i></a></td>'
	  document.getElementById("p2").append(Tr1)
	  question.value=""
	  name.value=""
	  link.value=""
	  description.value=""
	
	  alert("Link Added!")
  }

	 
 });}}

 
 function Delete(id,type){
 data = JSON.stringify({
  Type : type,
  id: id,
 })
  fetch("{% url 'delete_request' %}", {
  method: 'POST',
  body: data,
  headers: { 'X-CSRFToken': csrftoken,'Accept': 'application/json, text/plain, */*',
	  'Content-Type': 'application/json',
	  },
 })
.then(response => response.json())
.then(data => {
  console.log(data);
  if (data === "Deleted"){
      document.getElementById(id+type).remove()
	  alert("Opperation Successfull!")
  }else{
	alert("An error occured!")
  }
  

	 
 });}
   </script>


