{% load static %}
<header id="home" class="main-header header-style-one">


    <!-- Main box -->
    <div class="main-box">
        <div class="logo-box">
            <div class="logo"><a href="index.html"><img src="{% get_static_prefix %}Temp_1/images/logo.png" alt="" title="Tronis"></a></div>
        </div>

        <!--Nav Box-->
        <div class="nav-outer">
            <nav class="nav main-menu">
                <ul class="navigation">
                    <li class="current"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li ><a href="{% url 'courses_page'%}">Courses</a></li>

                    
                    {% if Data.Type == "None" %}
                      <li><a href="#contact">Contact</a></li>
                      {% else %}
                      <li><a href="#contact">Contact</a></li>
                      <li><a href="{% url 'teacher_dashboard' %}">My Dashboard</a></li>
                      
                     {% endif %} 
                </ul>
            </nav>
            <!-- Main Menu End-->


            <div class="outer-box">
                

                <div class="ui-btn-outer">
                    {% if Data.Type == "None" %}
                    <button class="ui-btn ui-btn search-btn" style="padding-right: 50px;">
                        <span class="icon lnr lnr-icon-search"></span>
                    </button>
                    {% elif Data.Type == "Student" %}
                    <button class="ui-btn ui-btn search-btn" style="padding-right: 50px;">
                        <span class="icon lnr lnr-icon-search"></span>
                    </button>
                    <img src="{% get_media_prefix %}Students/{{Data.id}}.jpg" style="width: 50px;height: 50px;border-radius: 100%;" alt="">
                    {% else %}
                    <button class="ui-btn ui-btn search-btn" style="padding-right: 50px;">
                        <span class="icon lnr lnr-icon-search"></span>
                    </button>
                    <img src="{% get_media_prefix %}Teachers/{{Data.id}}.jpg" style="width: 50px;height: 50px;border-radius: 100%;" alt="">
                    {% endif %}
                </div>
                

                {% if Data.Type == "None" %}
                <a href="{% url 'login' %}" class="theme-btn btn-style-one"><span class="btn-title">Sign In</span></a>
                {% else %}
                <a href="{% url 'logout' %}" class="theme-btn btn-style-one"><span class="btn-title">Log out</span></a>

                {% endif %}

                <!-- Mobile Nav toggler -->
                <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
        </div>
    </div>
    <!-- End Main Box -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="upper-box">
                <div class="nav-logo"><a href="index.html"><img src="{% get_static_prefix %}Temp_1/images/logo-2.png" alt="" title=""></a></div>
                <div class="close-btn"><i class="icon fa fa-times"></i></div>
            </div>

            <ul class="navigation clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
            <ul class="contact-list-one">
                <li>
                    <!-- Contact Info Box -->
                    <div class="contact-info-box">
                        <i class="icon lnr-icon-phone-handset"></i>
                        <span class="title">Call Now</span>
                        <a href="tel:+92880098670">+92 (8800) - 98670</a>
                    </div>
                </li>
                <li>
                    <!-- Contact Info Box -->
                    <div class="contact-info-box">
                        <span class="icon lnr-icon-envelope1"></span>
                        <span class="title">Send Email</span>
                        <a href="mailto:help@company.com">help@company.com</a>
                    </div>
                </li>
                <li>
                    <!-- Contact Info Box -->
                    <div class="contact-info-box">
                        <span class="icon lnr-icon-clock"></span>
                        <span class="title">Send Email</span>
                        Mon - Sat 8:00 - 6:30, Sunday - CLOSED
                    </div>
                </li>
            </ul>


            <ul class="social-links">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div><!-- End Mobile Menu -->

    <!-- Header Search -->
    <div class="search-popup">
        <span class="search-back-drop"></span>
        <button class="close-search"><span class="fa fa-times"></span></button>

        <div class="search-inner">
            <form method="post" action="index.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search..." required="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Header Search -->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="inner-container">
                <!--Logo-->
                <div class="logo">
                    <a href="index.html" title=""><img src="{% get_static_prefix %}Temp_1/images/logo.png" alt="" title=""></a>
                </div>

                <!--Right Col-->
                <div class="nav-outer">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->

                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                </div>
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>